<div class="container">

    <div class="row mt-3 text-center">
        <div class="col-12 m-1">
            <div class="card">
                <h5 class="card-header">Lin</h5>
                <div class="card-body">
                  <h6>{{name}}</h6>
                  <img src="/uploads/{{imagen}}" class="card-img-top mx-auto m-2" style="width: 150px; height: 150px;display:block;">
                    <p class="card-text">{{precio}}</p>
                    <p class="card-text">{{oferta}}</p>
                    <p class="card-text">{{stop}}</p>
                    <p class="card-text">{{descripcion}}</p>
                    <p class="card-text">{{categoria}}</p>
                </div>
            </div>
        </div>
                  
    </div>
</div>