
<div class="container">
  <div class="row mt-5 text-center">
    <div class="col-10 m-1">
      <div class="card">
        <h3 class="card-header">Album de productos</h3>
      </div>
    </div>
      {{#if productos}}                
        {{#each productos }}
    <div class="col-5 m-1">
      <div class="card">                
          <h5 class="card-header"> {{name}} </h5>
          <p>
            <img src="/uploads/{{imagen}}" class="card-img-top mx-auto m-2" style="width: 150px; height: 150px;display:block;">
          </p>
          <p>*************************************************</p>   
          <p> Precio: $ {{precio}} </p>
          <p>Oferta: $ {{oferta}} </p> 
          <h5>Para que nos sirve:</h5>                           
          <p> {{descripcion}} </p>
          <h5>Enfoque: {{categoria}} </h5>    
          <p>*************************************************</p>               
      </div>
    </div>
        {{/each}}               
            {{else}}
      {{/if}}
  </div>
</div>